{% extends 'sahakorn/base.html' %}

{% block headcontent %}
<title>
  Equipment borrowing
</title>
{% load static %}
<script src="{% static 'sahakorn/equipment.js' %}" defer type="module"></script>
{{ request.user.id|json_script:"user_id" }}
{% endblock %}


{% block content %}
<div class="container p-4">


  <button class="btn btn-primary" id="all-equipments">All Equipments</button>
  <button class="btn btn-primary" id="lent-equipments">Lent Equipments</button>
  <button class="btn btn-secondary" id="my-equipments">My Equipments</button>

  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>Equipment</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Lent To</th>
      </tr>
    </thead>
    <tbody id="equipments-table">

    </tbody>
  </table>

  <dialog id="borrowModal" class="modal">
    <div class="modal-box">
      <h2 class="text-xl font-bold">Borrow</h2>
      <form id="borrowForm">
        <div class="mb-4">
          <label for="r_date" class="block">Borrow till:</label>
          <input type="date" id="r_date" name="r_date" class="input input-bordered w-full">
        </div>

        <div class="modal-action">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>

</div>

{% endblock %}